@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root{
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;

}

* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    list-style: none;
    text-decoration: none;

}

/* animacoes */
@keyframes secaoLateral {
    from {
        transition: .5s;
        transform:  translate3d(60px, 0, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

body {

    background-color: #5d5f5e;
    margin: 0 auto;
}

/* Cabeçalho | Header */
header {
    width: 100%;
    background-color: #000;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo {
    color: #f5f5f5;
    font-size: 2rem;
}

header h1 {
    font-size: 1.5rem;
}

header span {
    color: #fff;
}

header .navegacao-primaria {
    display: flex;
    margin-top: 1rem;
    gap: 30px;
    align-items: center;
}


header .navegacao-primaria li a {
    color: #fff;
    width: 0px;
    height: 0px;
    font-size: 1.3rem;
    transition: all 0.5s;
}

header .navegacao-primaria li a:hover {
    color: #7f37c9;
}

/* Para telas menores que 992px */
@media screen and (max-width: 992px) {
    header {
        position: fixed;
        top: 0rem;
        width: 100%;
        height: 5rem;
        z-index: 1;
    }
    header .navegacao-primaria {
        display: none;
    }
    
    header i {
        margin-left: 13rem;
        color: #5d5f5e;
        font-size: 2.5rem;
    }

    header .navegacao-primaria.ativado {
        width: 90%;
        height: 50%;
        background-color: #0e0c0c;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 50px;
        position: fixed;
        display: grid;
        gap: 20px;
        top: 2.2rem;
        text-align: center;
        font-weight: bold;
        border-radius: 0 0 4px 4px;
        right: 15px;
        animation: secaoLateral 0.8s ease-in-out forwards;
    }

    .section-div img {
        height: 1rem;
        width: 1rem;
        border: none;
        border-radius: 50%;
    }
}

@media screen and (max-width: 426px) {
    header .navegacao-primaria {
      display: none;
    }

    .section-div img {
        height: auto;
        max-width: 100%;
        border: none;
        border-radius: 50%;
    }
}

/* meu curriculo */
.section-div {
    width: 100%;
    animation: inicializacao 0.9s forwards;
    background-color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
    padding: 60px;
}

.section-div div {
    margin-top: 120px;
    align-items: center;
    display: grid;
    gap: 30px;
}

.section-div div h1 {
    color: #f7f7f7;
}

.section-div div h2 {
    color: #f7f7f7;
}

.section-div div a {
    color: #f7f7f7;
    justify-self: start;
    padding: 15px 40px;
    border: 2px solid white;
}

.section-div div a:hover {
    color: #f5f5f5;
    scale: 1.02;
    transition: 0.3s;
    background-color: #7f37c9;
    border: none;

}

.section-div img {
        position: relative;
        height: 225px;
        max-width: 225px;
        width: 100%;
        padding:1.5px;
        background-color: #7f37c9;
        box-shadow: #000;
        border-radius: 50%;
        cursor: pointer;
    }

/* conteudo container*/
.container {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: rgba( 0, 0, 0.1) 0px 40px 120px;
    background-color: #000;
    color: #f5f5f5;
    width: 95%;
    top: 1rem;
    border-radius: 0.5rem;
    position: relative;
}
.container h1 {
    text-align: center;
    position: relative;
}
.container h3 {
    text-align: center;
    justify-content: center;
    margin: 1rem;
    display: flex;
    position: relative;
}

.container nav {
    display: grid;
}
.container li {
    display: flex;
    margin: 1rem;
}
.container li a {
    background-color: #171717;
    color: #a8a29e;
    position: relative;
    border-bottom: #7f37c9;
    font-size: 0.6rem;
    height: 7rem;
    width: 10rem;
} 

.container li a :hover {
    transition: 0.3s;
    border: none;
}

.container li :hover {
    transition: 0.3s;
    color: #f5f5f5;
    background-color: #7f37c9;
    border: solid #7f37c9;
}

.behance {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    color: #5d5f5e;
}
.behance :hover {
    font-size: 2.5rem;
    transition: 0.5s;
    color: #7f37c9;
}
#Portifólio {
    background-image: transparent;
}

@keyframes inicializacao {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }

    too {
        opacity: 1;
        transform:  translate3d(0, 0, 0);
    }
}


/*rodapé e copyhight*/
footer {
    width: 100%;
    color: #fff;
}
.footer-link {
    text-decoration: none;
}

#footer_content {
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;

}

#footer_contacts h2 {
    margin-bottom: 0.75rem;

}

#footer_social_media {
    display: flex;
    gap: 1.5rem;
    margin-top: 1.5rem;

}

#footer_social_media .footer-link {
display: flex;
align-items: center;
justify-content: center;
color: var(--color-neutral-30);
transition: all 0.5s;

}

#footer_social_media .footer-link i {
    font-size: 1.50rem;
}
#footer_social_media .footer-link:hover {
    opacity: 0.8;
    color: #7f37c9;
}

#instagram {
    background-image: transparent;
}

#github {
    background-image: transparent;
}
#linkedin {
    background-image: transparent;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: var(--color-neutral-30);
    transition: all 0.5s;
}
.footer-list .footer-link:hover {
    color: #7f37c9;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p {
    color: var(--color-neutral-30);
}

#input_group {
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75;
    width: 100%;
}

#input_group button {
    background-color: var(--color-neutral-30);
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.5s;
}

#input_group button:hover {
    opacity: 0.8;
    background-color: #7f37c9;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: #000;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

@media screen and (max-width: 992px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {

    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }    
}