@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppis:wght@200;300;400;500;700&display=swap');

:root{
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #595e64;
    --color-neutral-40: #f5f5f5;
    --cor-id-visual: #7f37c9;

}

* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    list-style: none;
    text-decoration: none;
}

.poppis {
    font-family: 'Poppis', sans-serif;
}
/* header - navegação principal */

/* Conteudo - main - .container*/

.main {
    margin-top: .3rem;
    padding-block: 1rem;
}

#navbarNavDropdown{
    margin-left: 8rem;
}
.digitando {
    margin-top: 5rem;
    white-space: pre-line;
    color: var(--cor-id-visual);
}

#apresentacao {
    color: whitesmoke;
}

#inicio-eu {
    margin-bottom: -3rem;
}

#foto-i {
    width: 200px;
    height: auto;
    border-radius: 50%;
    border: /*#57139b*/ #bebebe solid 1.5px;
    padding: 4px;
    margin-bottom: 0.5rem;
}

#barra {
    border-bottom: #7e7d7d 3px solid;
    width: 10%;
    position: relative;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

#sobremim {
    width: 80%;
    margin-bottom:2rem; 
}

.alert {
    white-space: pre-line;
}

#linhadotempo {
    color: #7e7d7d;
    padding-bottom: 2rem;
}
.title-job {
    color: #7e7d7d;
}
/* animacoes */
@keyframes secaoLateral {
    from {
        transition: .5s;
        transform:  translate3d(60px, 0, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

#curriculo_button {
    color: #f7f7f7;
    padding: 15px 40px;
    /*border: 2px solid rgb(238, 233, 233);*/
    border: none;
    text-decoration: none;
    background-color: var(--cor-id-visual);
}
/* Efeitos no botão*/
#curriculo_button:hover {
    scale: 1.01;
    background-color: #57139b;
}

@keyframes inicializacao {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }

    too {
        opacity: 1;
        transform:  translate3d(0, 0, 0);
    }
}

.exp_job {
    display: flex;
}

.freela_main {
    width: 60%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 1rem;
}

.freela {
    display: flexbox;
    width: 100%;
    padding: 2rem;
    padding-bottom: 15px;
    color: var(--cor-id-visual);
    background-color: #181818;
    border: black;
}
.job_logo {
    width: 110px;
    height: 100px;
    margin-top: 1rem;
    top: 1rem;
    border-radius: 15%;
    border: var(--color-neutral-30) solid 1.5px;
}

.shadow-lg-bottom {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); /* Sombra grande apenas na parte inferior */
}

/*rodapé e copyhight*/
footer {
    margin-top: 10rem;
    width: 100%;
    color: var(--color-neutral-30);
}
.footer-link {
    text-decoration: none;
}

#footer_content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;

}

#footer_contacts h2 {
    margin-bottom: 0.75rem;

}

#footer_social_media {
    display: flex;
    gap: 1.5rem;
    margin-top: 1.5rem;

}

#footer_social_media .footer-link {
display: flex;
align-items: center;
justify-content: center;
color: var(--color-neutral-30);
transition: all 0.5s;

}

#footer_social_media .footer-link i {
    font-size: 1.50rem;
}
#footer_social_media .footer-link:hover {
    color: #7f37c9;
}

#instagram {
    background-image: transparent;
}

#github {
    background-image: transparent;
}
#linkedin {
    background-image: transparent;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: var(--color-neutral-30);
}
.footer-list .footer-link:hover {
    color: #7f37c9;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: #000000;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 90;
}

@media screen and (max-width: 992px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    #ini {
        display: none;
    }
    #navbarNavDropdown {
        margin-left: 0;
    }
    #foto-i {
        width: 70%;
        height: auto;
    }
    .job_logo {
        width: 120px;
        height: 120px;
    
    }
    .freela_main {
        width: 100%;
        margin-bottom: 1rem;
    }
    .freela {
        width: 100%;
    }
    #sobremim {
        width: 100%;
    }
}

@media screen and (max-width: 426px) {

    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }    
    #foto-i {
        width: 50%;
        height: auto;
    }
}
@media screen and (max-width: 320px) {    
    #foto-i {
        width: 50px;
        height: 50px;
    }
    .freela_main {
        width: 100%;
    }
}


#tj_:hover {
    border: solid .01rem #57139b;
}

#umbler_:hover {
    border: solid .05rem #57139b;
}
#teia_:hover {
    border: solid .05rem #57139b;
}
.descricao-profissao {
   i {
    color:#7f37c9;
   }
}

.titles {
    i {
        color: #7f37c9;
    }
    h5 {
        color: #7f37c9;
    }
    h3 {
        color: var(--color-neutral-30);
        margin-bottom:2rem;
    }
}

#alert {
    h6 {
        color:rgb(184, 184, 184);
    }
}
  
.carousel .carousel-control-prev,
.carousel .carousel-control-next {
  position: absolute;
  top: 50%; /* Centraliza verticalmente */
  transform: translateY(-50%); /* Ajusta para o centro exato */
  width: auto;
  height: auto;
  z-index: 2; /* Fica acima do conteúdo */
}

.carousel .carousel-control-prev {
  left: -50px; /* Mantém os botões fora do conteúdo */
}

.carousel .carousel-control-next {
  right: -50px; /* Mantém os botões fora do conteúdo */
}

.carousel .carousel-control-prev-icon,
.carousel .carousel-control-next-icon {
  display: none; /* Oculta os ícones padrão */
}

.carousel .carousel-control-prev span,
.carousel .carousel-control-next span {
  color: #fff; /* Ajuste de cor para os ícones personalizados */
  font-size: 2rem; /* Tamanho dos ícones */
}

.navbar-nav .nav-item {
    margin-right: 1.5rem; /* Adiciona espaçamento entre os botões */
  }
  
  .navbar-nav .dropdown-menu {
    margin-top: 0.5rem; /* Ajusta a posição do dropdown se necessário */
  }

  @media (max-width: 768px) {
    .carousel-inner .col-3 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  .modal-body img {
    width: 100%;
    height: auto;
    background-color: transparent;
  }

  .text-color-secundary {
    color: var(--cor-id-visual);
  }